:root {
	--bs-primary: #0ea2bd;
	--bs-primary-rgb: 13, 162, 189;
}

.about-us {
	position: relative;
}

.about-img-wrapper::before {
	content: "";
	position: absolute;
	top: -30px;
	left: -30px;
	width: 120px;
	height: 120px;
	background-image: radial-gradient(#0d6efd 1px, transparent 1px);
	background-size: 10px 10px;
	z-index: -1;
}

.about-tabs .nav-link {
	color: #6c757d;
	font-weight: 500;
	border: none;
	border-bottom: 2px solid transparent;
}

.about-tabs .nav-link.active {
	color: #0d6efd;
	border-bottom: 2px solid #0d6efd;
	background: transparent;
}

.about-list li {
	margin-bottom: 15px;
	font-size: 15px;
	color: #555;
}

.about-list i {
	color: #0d6efd;
	margin-right: 8px;
}

.clients img {
	max-width: 140px;
	height: auto;
}

.clients img {
	max-width: 140px;
	height: auto;
}

@media (min-width: 992px) {
	.clients img {
		max-width: 120px;
	}
}

.bg-img-opacity {
	position: relative;
	min-height: 300px;
	background-image: url("../img/onfocus-content-bg.jpg");
	background-size: cover;
	background-position: center;
	object-fit: cover;
	opacity: 1;
}

.bg-img-opacity::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.card-img-top {
	background-image: url("/assets/img/pricing-bg.jpg");
	background-size: cover;
	background-position: center;
	height: 200px;
	position: relative;
}

.card-img-top::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.card-img-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	z-index: 2;
}

.card-second .card-img-top::before {
	background-color: rgba(255, 0, 0, 0.5);
}

.text-multiline {
	padding: 0 10px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70px;
	height: 70px;
	background: #0d6efd;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.play-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
	border-style: solid;
	border-width: 10px 0 10px 16px;
	border-color: transparent transparent transparent #fff;
}

.bg-image {
	background-image: url("/assets/img/onfocus-video-bg.jpg");
	background-size: cover;
	background-position: center;
	min-height: 100%;
}

.icon-footer {
	color: white;
}
